.Parameters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* container */
.MuiFormControl-root,
.MuiFormGroup-root {
  flex-direction: row !important;
}

.MuiFormControlLabel-root {
  margin-right: 50px !important;
}
.MuiFormControlLabel-root:last-child {
  margin-right: 0 !important;
}

/* check-box */
.MuiFormGroup-root {
  padding-bottom: 60px;
}

.MuiSvgIcon-root {
  color: var(--primary-color) !important;
}
