.Dropzone-container {
  width: 50%;
  text-align: center;
  padding: 50px;
  min-height: 60px;
  cursor: pointer;
  margin: 0 auto;
  color: var(--primary-color);
  border: 2px dashed #041f10;
  border-radius: 5px;
  background-color: #12939a0f !important;
}

h1 {
  text-align: center;
  color: var(--primary-color);
}
.uploadIcon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-image: url("../images/upload.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
